<div class="row">
  <div class="col">
    <table class="table">
      <thead>
        <tr>
          <th><h1>About our comics </h1> <small> creamos nuestra historias y contenido de calidad </small></th>
          <th>Marvel</th>
          <th >
            DC
          </th>
        </tr>
      </thead>
      <tr>
        <td>Genemos contenido sobre comics de MARVEL y DC</td>
        <td>
          <img  class="img-logo" src="assets/img/marvel-logo.png" width="200" height="200" >
        </td>
        <td>
          <img  class="img-logo" src="assets/img/dc-logo.jpg" width="200" height="200" >
        </td>
      </tr>

      <tr>
        <td><h1>Spiderman y Batman</h1><p>son 2 de los heroes mas conocidos de sus respectivas franquicias</p></td>
        <td>
          <img  class="img-logo" src="assets/img/spiderman.png " width="200" height="200" >
       </td>
       <td>
        <img  class="img-logo" src="assets/img/batman.png " width="200" height="200" >
       </td>
      </tr>

    </table>
  </div>
</div>

